<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tc3android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.tc3.anim.ViewAnimationActivity"></activity>
        <activity android:name="com.example.tc3.anim.AnimatorActivity"></activity>
        <activity android:name="com.example.tc3.resource.drawable.DrawableActivity"></activity>
        <activity android:name="com.example.tc3.resource.state.ColorStateListActivity" />
        <activity android:name="com.example.tc3.resource.anim.FrameAnimationActivity" />
        <activity android:name="com.example.tc3.resource.anim.ViewAnimationActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>